* {
  font-family: monospace, sans-serif;
}

#calculator {
  width: 300px;
  height: 400px;
  background-color: gainsboro;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
}

p#screen {
  width: 75%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: aliceblue;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

button.symbol {
  background-color: gray;
  color: white;
}

button#clear {
  background-color: rgb(255, 67, 67);
  color: white;
}

button:hover {
  box-shadow: 1px 1px black;
  font-weight: 900;
}