* {
  font-family: monospace, sans-serif;
}

#calculator {
  width: 300px;
  height: 400px;
  background-color: gainsboro;
  border: 1px solid black;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

p#screen {
  width: 200px;
  height: 25%;
  margin: 0 auto;

  background-color: aliceblue;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

button {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

button.symbol {
  background-color: gray;
  color: white;
}

button#clear {
  background-color: rgb(255, 67, 67);
  color: white;
}

button:hover {
  box-shadow: 1px 1px black;
  font-weight: 900;
}